@import "./node_modules/moon-ui-scss/colors";
@import "./node_modules/moon-ui-scss/loader";

@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $rich-black-fogra-29;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

pre {
    max-width: 90vw;
    color: $linen;
    overflow-x: auto;
}
